{% extends 'base.html' %}

{% block title %}Главная - Music Streaming{% endblock %}

{% block content %}
<section class="section">
    <h2 class="section-header">Новинки</h2>
    <div class="grid">
        {% for song in recent_songs %}
        <div class="card" onclick="playSong('{{ song.audio_file.url }}', '{{ song.title }}', '{{ song.artist.name }}',  '{% if song.album.cover %}{{ song.album.cover.url }}{% else %}/static/placeholder.png{% endif %}')">
            <img src="{{ song.get_cover }}" 
                 alt="{{ song.title }}" class="card-image">
            <div class="card-title">{{ song.title }}</div>
            <div class="card-subtitle">{{ song.artist.name }}</div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="section">
    <h2 class="section-header">Популярное</h2>
    <div class="grid">
        {% for song in popular_songs %}
        <div class="card" onclick="playSong('{{ song.audio_file.url }}', '{{ song.title }}', '{{ song.artist.name }}',  '{% if song.album.cover %}{{ song.album.cover.url }}{% else %}/static/placeholder.png{% endif %}')">
            <img src="{% if song.album.cover %}{{ song.album.cover.url }}{% else %}/static/placeholder.png{% endif %}" 
                 alt="{{ song.title }}" class="card-image">
            <div class="card-title">{{ song.title }}</div>
            <div class="card-subtitle">{{ song.artist.name }}</div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="section">
    <h2 class="section-header">Исполнители</h2>
    <div class="grid">
        {% for artist in artists %}
        <a href="{% url 'artist_detail' artist.pk %}" class="card" style="text-decoration: none; color: inherit;">
            <img src="{% if artist.image %}{{ artist.image.url }}{% else %}/static/placeholder.png{% endif %}" 
                 alt="{{ artist.name }}" class="card-image" style="border-radius: 50%;">
            <div class="card-title">{{ artist.name }}</div>
            <div class="card-subtitle">Исполнитель</div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}