{% extends 'base.html' %}

{% block content %}
<h2 class="section-header">Результаты поиска: "{{ query }}"</h2>

{% if songs %}
<section class="section">
    <h3 style="font-size: 20px; margin-bottom: 16px;">Треки</h3>
    <ul class="song-list">
        {% for song in songs %}
        <li class="song-item" onclick="playSong('{{ song.audio_file.url }}', '{{ song.title }}', '{{ song.artist.name }}',  '{% if song.album.cover %}{{ song.album.cover.url }}{% else %}/static/placeholder.png{% endif %}')">
            <span class="song-number">{{ forloop.counter }}</span>
            <div class="song-info">
                <div class="song-title">{{ song.title }}</div>
                <div class="song-artist">{{ song.artist.name }}</div>
            </div>
            <button class="icon-btn mdi mdi-heart-outline"></button>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if artists %}
<section class="section">
    <h3 style="font-size: 20px; margin-bottom: 16px;">Исполнители</h3>
    <div class="grid">
        {% for artist in artists %}
        <a href="{% url 'artist_detail' artist.pk %}" class="card" style="text-decoration: none; color: inherit;">
            <img src="{% if artist.image %}{{ artist.image.url }}{% else %}/static/placeholder.png{% endif %}" 
                 alt="{{ artist.name }}" class="card-image" style="border-radius: 50%;">
            <div class="card-title">{{ artist.name }}</div>
            <div class="card-subtitle">Исполнитель</div>
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if albums %}
<section class="section">
    <h3 style="font-size: 20px; margin-bottom: 16px;">Альбомы</h3>
    <div class="grid">
        {% for album in albums %}
        <a href="{% url 'album_detail' album.pk %}" class="card" style="text-decoration: none; color: inherit;">
            <img src="{% if album.cover %}{{ album.cover.url }}{% else %}/static/placeholder.png{% endif %}" 
                 alt="{{ album.title }}" class="card-image">
            <div class="card-title">{{ album.title }}</div>
            <div class="card-subtitle">{{ album.artist.name }}</div>
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}